body {
  background: #f2f2f2;
  font-family: 'Open Sans', 'sans-serif';
}

header {
  margin-top: 30px;
}

header .nav {
  min-height: 80px;
  overflow: hidden;
  background: #fff;
}


 /* Logo */
header .logo h2,
header .logo span,
header .logo p {
  font-size: 16px;
  display: inline-block;
  margin:0;
}

header .nav h2 {
  font-weight: 800;
  text-transform: uppercase;
}

header .nav span {
   color: #bfbfbf;
}

header .nav p {
  color: #777777;
}


/* MENU */

header .menu {
  padding: 0;
}

header .menu a {
  display: block;
  text-decoration: none;
  padding: 0 20px;
  color: #fff;
}

header .menu a div span {
  font-weight: 600;
}

header .menu .c-1 {background: #3da5e2;}
header .menu .c-2 {background: #005385;}
header .menu .c-3 {background: #003855;}

header .menu .c-1:hover {background: #11bbaa;}
header .menu .c-2:hover {background: #158865;}
header .menu .c-3:hover {background: #a01249;}

.slider {
  margin-bottom: 40px;
}

.slider .col {
  padding: 0;
}

/* PORTAFOLIO */

.portafolio {
  border-top: 5px solid #11bbaa;
  padding: 0 20px;
  margin-bottom: 20px;
}

.portafolio .titulo {
  padding: 20px 0;
  text-align: center;
  font-weight: 400;
  color: #a01249;
  font-family: 'Open Sans', sans-serif;
}

.portafolio .galeria .contenedor-imagen {
  margin-bottom: 40px;
  max-height: 200px;
  overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
  display: inline-block;
  background: #158865;
}

.portafolio .galeria .contenedor-imagen:hover img {
  opacity: .3;
}

.portafolio .modal-dialog {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

/* ACERCA DE */

.acerca {
  padding: 30px;
  margin-bottom: 30px;
}

.acerca .foto {
  text-align: center;
}

.acerca .foto img {
  margin-bottom: 30px;
}

.acerca .foto .nombre {
  font-weight: 300;
  font-size: 18px;
  color: #545454;
  letter-spacing: 2px;
}

.acerca .info .titulo {
  color: #003855;
  font-weight: 600;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;

}

.acerca .info .resumen {
  letter-spacing: 2px;
}

.acerca .info .label {
  font-size: 18px;
  font-weight: 600;
  color: #a01249;
  margin-bottom: 10px;
}

.acerca .info .progress {
  margin-bottom: 20px;
  background: #158865;
  border-radius: 0;
}

.acerca .info .progress-bar {
  background: #37505f;
  height: 20px;
  line-height: 20px;
  text-align: left;
  padding-left: 20px;

}


/* Seccion contacto */

.contacto {
  padding: 40px 0;
  margin-bottom: 40px;
  border-top: 1px solid #3da5e2;
}

.contacto .titulo {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
}

.contacto .form-group {
  margin-bottom: 0;
}

.formulario input[type='text'],
.formulario input[type='email'],
.formulario textarea {
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  margin: 30px auto;
  width: 100%;
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid #3da5e2;
  transition: all .5s ease;
  
  
}

.formulario input[type='text']:focus,
.formulario input[type='email']:focus,
.formulario textarea:focus {

  border-bottom: 3px solid #005385;
  transform:scale(1.1);

}

.formulario textarea {
  height: 100px;
  min-height: 100px;
  max-height: 100px;
}

.formulario .boton {
  background: #158865;
  border: none;
  padding: 10px 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition: all .5s ease;
}

.formulario .boton:hover {
  transform:scale(1.3);
}

/* Redes Sociales */

.redes {
  padding: 40px 0;
  margin-bottom: 40px;
}

.redes .icono {
  width: 100px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  margin: 0 20px;
  font-size: 40px;
  background: #cbcbcb;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

.redes .twitter {
  background-color: #5dbbd8;
}

.redes .instagram {
  background-color: #492b9b;
}

.redes .facebook {
  background-color: #095fa5;
}

/* Mediquiries*/

/* Dispositivos xl  */
@media screen and (max-width: 1119px) {}

/* Dispositivos lg  */
@media screen and (max-width: 991px) {
  .logo {
    height: 76px;
  }
  .menu {
    min-height: 76px;
  }

  .menu a {
    width: 100%;
  }

  .menu a div {
    width: 100%;
  }

  .portafolio .galeria .contenedor-imagen:nth-child(1) {order: 1;}
  .portafolio .galeria .contenedor-imagen:nth-child(2) {order: 3;}
  .portafolio .galeria .contenedor-imagen:nth-child(3) {order: 6;}
  .portafolio .galeria .contenedor-imagen:nth-child(4) {order: 2;}
  .portafolio .galeria .contenedor-imagen:nth-child(5) {order: 5;}
  .portafolio .galeria .contenedor-imagen:nth-child(6) {order: 4;}
  .portafolio .galeria .contenedor-imagen:nth-child(7) {order: 7;}

  .modal .modal-dialog {
    width: 90%;
  }

  .modal .modal-dialog .modal-content img {
    width: 100%;
  }
}

/* Dispositivos md  */
@media screen and (max-width: 767px) {}

/* Dispositivos sm  */
@media screen and (max-width: 575px) {
  header {
    margin-top: 0;
    text-align: center;
  }

  .redes .icono {
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
  }
}


